.table-responsive {
    overflow-x: auto;
  }
  
  .card {
    background-color: #bbd2e8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    font-family: 'Roboto', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
  }
  
  .card-body {
    padding: 0;
  }
  
  .table {
    width: 100%;
    margin-bottom: 0;
    background-color: #6074b1;
    border-collapse: separate;
    border-spacing: 0 8px;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 0;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #3d75ad;
    color: #212529; /* Cambiado a color oscuro para los títulos */
  }
  
  .table tbody + tbody {
    border-top: 2px solid #467db3;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.075);
  }
  
  .btn-edit {
    color: #007bff;
    background-color: transparent;
    border: none;
  }
  
  .btn-edit:hover {
    background-color: rgba(0, 123, 255, 0.1);
  }
  

  // estilos de paginacion
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls .ngx-pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination-controls .ngx-pagination li {
    margin-right: 5px;
  }
  
  .pagination-controls .ngx-pagination li a,
  .pagination-controls .ngx-pagination li span {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .pagination-controls .ngx-pagination li.active a,
  .pagination-controls .ngx-pagination li.active span {
    background-color: #0056b3;
  }
  
  .pagination-controls .ngx-pagination li a:hover,
  .pagination-controls .ngx-pagination li span:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls .ngx-pagination li.disabled a,
  .pagination-controls .ngx-pagination li.disabled span {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
  }
  
  //para boton
  .btn-add-user {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento de línea */
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer; /* Cursor de puntero al pasar */
    border-radius: 12px; /* Borde redondeado */
    border: 2px solid transparent; /* Borde transparente */
    padding: 8px 16px; /* Reducir el espaciado interno */
    font-size: 14px; /* Reducir el tamaño del texto */
    margin: 4px; /* Reducir el margen exterior */
  }
  
  .btn-add-user:hover {
    background-color: white; /* Cambio de color de fondo al pasar */
    color: #4CAF50; /* Cambio de color de texto al pasar */
    border-color: #4CAF50; /* Cambio de color del borde al pasar */
  }
  
  .btn-add-user:active {
    background-color: #4CAF50; /* Color de fondo al hacer clic */
    color: white; /* Color de texto al hacer clic */
    border-color: #4CAF50; /* Color de borde al hacer clic */
  }
  
  .btn-add-user:focus {
    outline: none; /* Sin contorno al enfocar */
  }
  



  // <div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
  //   <div class="container-fluid">
  //     <div class="row flex-nowrap">
  //       <!-- Columna para la navegación -->
  //       <div class="col-auto ">
  //         <app-navigation></app-navigation>
  //       </div>
  //       <!-- Columna para el contenido principal -->
  //       <div class="col py-3">
  //         <div class="container mt-5">
  //           <div class="row justify-content-center">
  //             <div class="col-md-12">
  //               <div class="card" style="width: 100%; height: auto;">
  //                 <div class="card-header">
  //                   Lista de direcciones
  //                 </div>
  //                 <div class="card-body">
  //                   <div class="table-responsive">
  //                     <table class="table table-bordered table-hover">
  //                       <thead class="thead-dark">
  //                         <tr>
  //                           <th>ID</th>
  //                           <th>Municipio</th>
  //                           <th>Calle</th>
  //                           <th>Avenida</th>
  //                           <th>Zona o Barrio</th>
  //                           <th>Residencial o colonia</th>
  //                           <th>No. Vivienda</th>
  //                           <th>indicacion Extra</th>
  //                           <th>Editar</th>
  //                         </tr>
  //                       </thead>
  //                       <tbody>
  //                         <!-- Aquí se genera la lista de usuarios -->
  //                         <!-- Usé *ngFor para iterar sobre los usuarios -->
  //                         <tr *ngFor="let direccion of direcciones | paginate: { itemsPerPage: 5, currentPage: page }">
  //                           <td>{{ direccion.id_direccion }}</td>
  //                           <td>{{ getMunicipio(direccion.id_municipio ?? 0) }}</td>
  //                           <td>{{ direccion.calle}}</td>
  //                           <td>{{ direccion.avenida }}</td>
  //                           <td>{{ direccion.zona_barrio }}</td>
  //                           <td>{{ direccion.residencial_colonia }}</td>
  //                           <td>{{ direccion.numero_vivienda }}</td>
  //                           <td>{{ direccion.indicacion_extra}}</td>
  //                           <td>
  //                             <button class="btn btn-outline-primary btn-sm" (click)="abrirModalEditar(direccion)">
  //                               <i class="fas fa-pencil-alt"></i>
  //                             </button>
  //                           </td>
  //                         </tr>
  //                       </tbody>
  //                     </table>
  //                   </div>
  //                   <!-- Div para alinear horizontalmente los controles de paginación y el botón -->
  //                   <div class="d-flex justify-content-between align-items-center mt-3">
  //                     <!-- Controles de paginación -->
  //                     <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  //                     <!-- Botón "Añadir" -->
  //                     <button class="btn btn-primary" (click)="abrirModalAgregar()">Añadir direccion</button>
  //                   </div>
  //                 </div>
  //               </div>
  //             </div>
  //           </div>
  //         </div>
  //       </div>
  //     </div>
  //   </div>
  //   </div>
    
