<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Angular</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light custom-bg-gray">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clinica Medica Family Health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('quienes-somos')">Quiénes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('mision')">Misión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('vision')">Visión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('nuestras-clinicas')">Nuestras Clínicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('ubicaciones')">Ubicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('horarios')">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="scrollTo('especialidades')">Especialidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-with-bg" routerLink="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-with-bg" routerLink="/registrarse">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5  000"> <!-- Cambia el valor de data-bs-interval a tu preferencia (en milisegundos) -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/inicio2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/inicio3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<!-- Sections -->
<section id="quienes-somos" class="bg-light py-5">
  <div class="container">
    <h2>Quiénes Somos</h2>
    <p>Family Health La Clinica es un lugar donde cada miembro de tu hogar puede recibir atención médica
       de calidad. Como un centro de salud comunitario, damos la bienvenida a los pacientes para ofrecer 
       servicios médicos a comunidades. Nuestras modernas instalaciones y alcance estatal son el trabajo 
       de décadas. Tenemos un rico legado liderado por la comunidad y nos sentimos honrados de vivir la 
       misión a través de nuestro trabajo diario.</p>
  </div>
</section>

<section id="mision" class="bg-light py-5">
  <div class="container">
    <h2>Misión</h2>
    <p>En Family Health, nuestra misión es ser un faro de esperanza y cuidado en la comunidad, proporcionando 
      atención médica compasiva y centrada en el paciente que abarque todas las facetas de la salud familiar.
       Nos comprometemos a servir como aliados en el viaje de cada individuo hacia una vida más saludable,
        ofreciendo servicios integrales que van desde la prevención y el diagnóstico temprano hasta el tratamiento
         efectivo de enfermedades. Nos esforzamos por cultivar un ambiente de confianza y apoyo donde cada persona
          se sienta escuchada, respetada y valorada, independientemente de su situación o historial médico.</p>
  </div>
</section>

<section id="vision" class="bg-light py-5">
  <div class="container">
    <h2>Visión</h2>
    <p>En Family Health, aspiramos a ser más que una clínica médica; nos esforzamos por ser un pilar 
      de la comunidad, un lugar al que las familias acuden no solo en momentos de enfermedad, sino también 
      en busca de orientación, educación y apoyo para llevar vidas más saludables y plenas. Visualizamos un 
      futuro donde nuestra práctica médica sea reconocida como un modelo de excelencia en atención centrada 
      en el paciente, donde la innovación y la tecnología se combinen con el toque humano para proporcionar 
      resultados sobresalientes y una experiencia de atención incomparable. Nos comprometemos a ser líderes 
      en el avance de la medicina preventiva y la promoción de la salud en nuestra comunidad, inspirando a otros
       a unirse a nosotros en nuestro viaje hacia un mundo más saludable.</p>
  </div>
</section>


<section id="nuestras-clinicas" class="bg-light py-5">
  <div class="container">
    <h2>Nuestras Clínicas</h2>
    <p>Atención para toda la familia en 4 distintas ubicaciones, con espacios amplios y modernos y con la más alta tecnología para diagnóstico y tratamiento.</p>
    <div class="row">
      <div class="col-md-6">
        <h3>Clínica Américas</h3>
        <p>Dirección: Avenida Las Américas 17-78, Zona 13</p>
        <p>Teléfono: (502) 2300 4000</p>
      </div>
      <div class="col-md-6">
        <h3>Clínica Portales</h3>
        <p>Dirección: 12 calle 4-10 zona 17 Zona Portales, Carretera al Atlántico, Al lado de Office Depot.</p>
        <p>Teléfono: (502) 2300 4000</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Clínica Vista Hermosa</h3>
        <p>Dirección: 2a calle 17-88, Pacific Vista Hermosa Zona 15</p>
        <p>Teléfono: (502) 2300 4000</p>
      </div>
      <div class="col-md-6">
        <h3>Clínica Majadas Once</h3>
        <p>Dirección: Diagonal 12, 24-55, Zona 11, Interior Parque Majadas</p>
        <p>Teléfono: (502) 2300 4000</p>
      </div>
    </div>
  </div>
</section>

<section id="horarios" class="bg-light py-5">
  <div class="container">
    <h2>Horarios</h2>
    <p>Contenido sobre los horarios de atención.</p>
    <ul>
      <li>Lunes a viernes: 07:00 - 20:00</li>
      <li>Sábados: 07:00 - 17:00</li>
      <li>Domingo: 07:00 - 13:00</li>
    </ul>
  </div>
</section>

<section id="especialidades" class="bg-light py-5">
  <div class="container">
    <h2>Especialidades</h2>
    <p>Atendemos en más de 5 especialidades médicas, desde pediatría hasta cardiología. Cada uno de nuestros 
      doctores son especialistas en su campo.</p>
    <div class="row justify-content-center"> <!-- Agregamos la clase "justify-content-center" para centrar las columnas -->
      <div class="col-md-2 text-center">
        <img src="../../../assets/images/cardiologia.jpg" alt="Cardiología" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
        <p>Cardiología</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="../../../assets/images/pediatria.jpg" alt="Pediatría" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
        <p>Pediatría</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="../../../assets/images/nutriologia.jpg" alt="Nutriología" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
        <p>Nutriología</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="../../../assets/images/flebologia.jpg" alt="Flebología" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
        <p>Flebología</p>
      </div>
      <div class="col-md-2 text-center">
        <img src="../../../assets/images/ginecologia.jpg" alt="Ginecología" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
        <p>Ginecología</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-center text-white py-4">
  <div class="container">
    <p>Todos los derechos reservados - 2024</p>
    <div>
      <a href="https://www.facebook.com/"><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/"><img src="../../../assets/images/Instagram.png" alt="Instagram"></a>
      <a href="https://twitter.com/?lang=es"><img src="../../../assets/images/X_.png" alt="x"></a>
    </div>
  </div>
</footer>
</body>
</html>