<div class="container mt-5">
  <h2>{{ usuarioSeleccionado.nombre }}</h2>
  <form (ngSubmit)="guardarCambios()" #editarUsuarioForm="ngForm">
    <div class="form-group">
      <label>ID Usuario:</label>
      <input type="text" class="form-control" name="idUsuario" [(ngModel)]="usuarioSeleccionado.id_usuario" disabled>
    </div>
    <div class="form-group">
      <label>Rol:</label>
      <select class="form-control" name="idRol" [(ngModel)]="usuarioSeleccionado.id_rol">
        <option *ngFor="let rol of roles" [value]="rol.id_rol">{{rol.nombre}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" name="nombre" [(ngModel)]="usuarioSeleccionado.nombre">
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="usuarioSeleccionado.email">
    </div>
  
    <div class="button-container">
      <!-- Botón para cambiar de estado el usuario -->
      <button type="button" 
              class="btn" 
              [ngClass]="{ 'btn-danger': usuarioSeleccionado.estado === true, 'btn-success': usuarioSeleccionado.estado === false }" 
              (click)="borrarUsuario()">
          {{ usuarioSeleccionado.estado === true ? 'Desactivar Usuario' : 'Activar Usuario' }}
      </button>
  
      <!-- Espacio entre los botones -->
      <div style="width: 1rem;"></div>
  
      <!-- Botón para guardar cambios -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </div>
  </form>
</div>

