
<div class="container-fluid">
    <h1>Catálogos</h1>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card" style="max-width: 200px;"> <!-- Establecer un ancho máximo para la tarjeta -->
                <img src="../../../../assets/images/Logos/CatalogoUsuario.png" class="card-img-top" alt="Imagen 1" style="max-width: 150px;"> <!-- Establecer un ancho máximo para la imagen -->
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <!-- Puedes agregar más información aquí si es necesario -->
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="max-width: 200px;"> <!-- Establecer un ancho máximo para la tarjeta -->
                <img src="../../../../assets/images/Logos/catalogo2.png" class="card-img-top" alt="Imagen 2" style="max-width: 150px;"> <!-- Establecer un ancho máximo para la imagen -->
                <div class="card-body">
                    <h5 class="card-title">Catalogo 2</h5>
                    <!-- Puedes agregar más información aquí si es necesario -->
                </div>
            </div>
        </div>
        <!-- Agrega más columnas de catálogos si es necesario -->
    </div>
</div>
