<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- Columna para la navegación -->
    <div class="col-auto ">
      <app-navigation></app-navigation>
    </div>
    <!-- Columna para el contenido principal -->
    <div class="col py-3">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card" style="width: 100%; height: auto;">
              <div class="card-header">
                Lista de Usuarios
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th>ID Usuario</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Estado</th>
                        <th>Editar</th>
                      </tr>
                    </thead>
                    <tbody> 
                      <!-- Aquí se genera la lista de usuarios -->
                      <!-- Usé *ngFor para iterar sobre los usuarios -->
                      <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: page }">
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ getRolNombre(usuario.id_rol ?? 0) }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.contrasenia }}</td>
                        <td>{{ usuario.estado ? 'Activo' : 'Inactivo' }}</td>
                        <td>
                          <button class="btn btn-outline-primary btn-sm" (click)="abrirModalEditar(usuario)">
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Div para alinear horizontalmente los controles de paginación y el botón -->
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <!-- Controles de paginación -->
                  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  <!-- Botón "Añadir usuario" -->
                  <button class="btn btn-primary" (click)="abrirModalAgregarUsuario()">Añadir usuario</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/menu">
    <img src="../../../assets/images/Logos/reg.png" alt="menu" style="position: absolute; bottom: 10px; left: 300px; width: 50px; height: auto; object-fit: cover;">
  </a>
</div>
</div>
