<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto">
                <app-navigation></app-navigation>
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <style>
                    .content-area {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                    .dropdown-item {
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        margin: 0 5px;
                    }
                    .imagen-custom {
                        display: block;
                        margin: 0 auto;
                    }
                    .imagen-custom img {
                        width: 150px;
                        height: 150px;
                    }
                    table, th, td {
                        border-collapse: collapse;
                        padding: 50px;
                        justify-content: center;
                    }
                    td {
                        width: 100%;
                    }
                </style>
                <div class="content-area">
                    <table>
                    <tr>
                        <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/aseguradora" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/asegurado.png" alt="Paciente">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Aseguradora</b></span>
                            </a>
                        </div>
                        </td>
                        <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/contacto-emergencia" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/em.png" alt="Emergencia">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Contacto Emergencia</b></span>
                            </a>
                        </div>
                        </td>
                        <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/departamento" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/guatemala.png" alt="Departamento">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Departamento</b></span>
                            </a>
                        </div>
                        </td>
                        <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/direccion" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/mapa.png" alt="Direccion">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Direccion</b></span>
                            </a>
                        </div>
                        </td>
                    </tr>
                    <tr>
                    <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/estado-civil" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/ec.png" alt="estado-civil">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Estado Civil</b></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/genero" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/ge.png" alt="Genero">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace; "><b>Género</b></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/municipio" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/mun.png" alt="Municipio">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Municipio</b></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div style="flex: 0 0 25%; max-width: 25%; padding: 0 15px;">
                            <a href="/tipo-sangre" class="dropdown-item">
                                <div class="imagen-custom">
                                    <img src="../../../../assets/images/Logos/sangre.png" alt="tipo-sangre">
                                </div>
                                <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;"><b>Tipo Sangre</b></span>
                            </a>
                        </div>
                    </td>
                    </tr>
                </table>
            </div>             
        </div>
    </div>
</div>
