<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto">
                <app-navigation></app-navigation>
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <style>
                    .content-area {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                    .dropdown-item {
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        margin: 0 150px;
                    }
                    .imagen-custom {
                        display: block;
                        margin: 0 auto;
                    }
                    .imagen-custom img {
                        width: 250px;
                        height: 250px;
                    }
                    .imagen-custom span {
                        display: block;
                        margin-top: 10px;
                        font-size: 15px;
                        font-family: Georgia, serif;
                    }
                </style>
                <div class="content-area">
                    <a href="/empleado-clinica" class="dropdown-item">
                        <div class ="imagen-custom ">
                            <img src="../../../../assets/images/Logos/emp.png" alt="empleado">
                        </div>
                        <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;">Empleado</span>
                    </a>
                    <a href="/medico-clinica" class="dropdown-item">
                        <div class ="imagen-custom">
                            <img src="../../../../assets/images/Logos/med.png" alt="Medico">
                        </div>
                        <span style="font-size: 20px; font-family: 'Courier New', Courier, monospace;">Médico</span>
                    </a>
                </div>
            </div>
        </div>
        <a routerLink="/datos-personales">
            <img src="../../../assets/images/Logos/reg.png" alt="menu" style="position: absolute; bottom: 10px; left: 300px; width: 50px; height: auto; object-fit: cover;">
          </a>
    </div>
</div>
