<div class="col-auto margin-0 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 text-center">
        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" style = "margin-top: 20px;">
            <span class="fs-4 d-none d-sm-inline"><b>Menú Principal</b></span>
        </a>
        <hr style="border: 0; border-top: 3px solid white; width: 100%;">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a routerLink="/menu" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/devolver.png" alt="Inicio" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Inicio</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/usuarios" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/CatalogoUsuario.png" alt="Usuarios" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Usuario</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/datos-personales" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/datos.png" alt="Datos Personales" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Datos Personales</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/cita-menu" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/citas.png" alt="Citas" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Cita</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/menu" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/facturacion.png" alt="Facturacion" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Facturacion</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/menu" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/dia.png" alt="Diagnostico" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Diagnostico</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/menu" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/re.png" alt="Receta" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Receta</span>
                </a>
            </li>
            <br>
            <li>
                <a routerLink="/inicio" class="dropdown-item d-flex align-items-center">
                    <img src="../../../../assets/images/Logos/salida.png" alt="Inicio" class="imagen-custom me-2" width="50" height="50">
                    <span class="fs-6">Salir</span>
                </a>
            </li>
        </ul>
    </div>
</div>
