<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Columna para la navegación -->
        <div class="col-auto ">
          <app-navigation></app-navigation>
        </div>
        <!-- Columna para el contenido principal -->
        <div class="col py-3">
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card" style="width: 100%; height: auto;">
                  <div class="card-header">
                    Catalogo de Especialidades
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th>ID Especialidad</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Editar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Aquí se genera la lista -->
                          <!-- Usé *ngFor para iterar sobre los registros -->
                          <tr *ngFor="let especialidad of especialidades | paginate: { itemsPerPage: 5, currentPage: page }">
                            <td>{{ especialidad.id_especialidad }}</td>
                            <td>{{ especialidad.nombre }}</td>
                            <td>{{ especialidad.descipcion }}</td>
                            <td>
                              <button class="btn btn-outline-primary btn-sm" (click)="abrirModalEditar(especialidad)">
                                <i class="fas fa-pencil-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- Div para alinear horizontalmente los controles de paginación y el botón -->
                    <div class="d-flex justify-content-between align-items-center mt-3">
                      <!-- Controles de paginación -->
                      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                      <!-- Botón "Añadir usuario" -->
                      <button class="btn btn-primary" (click)="abrirModalAgregar()">Añadir especialidad</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/medico-clinica">
        <img src="../../../assets/images/Logos/reg.png" alt="menu" style="position: absolute; bottom: 10px; left: 300px; width: 50px; height: auto; object-fit: cover;">
      </a>
    </div>
    </div>
    
