<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <!-- Menú lateral -->
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-underline">
                    <span class="fs-4 d-none d-sm-inline">Menú Principal</span>
                </a>
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item dropdown">
                        <a class="nav-link align-middle px-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../../assets/images/Logos/catalogo.png" alt="Catalogo" class="imagen-custom" width="50" height="50">
                            <span style="font-size: 20px; font-family: Georgia, serif;">Catálogo</span>
                        </a>                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a routerLink="/menu" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/devolver.png" alt="Inicio" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/usuarios" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/CatalogoUsuario.png" alt="Usuarios" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Usuario</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/menu" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/datos.png" alt="Datos Personales" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Datos Personales</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/menu" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/citas.png" alt="Citas" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Citas</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/menu" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/facturacion.png" alt="Facturacion" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Facturacion</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/menu" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/dia.png" alt="Diagnostico" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Diagnostico</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/menu" class="dropdown-item r">
                                    <img src="../../../../assets/images/Logos/re.png" alt="Receta" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Receta</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/inicio" class="dropdown-item ">
                                    <img src="../../../../assets/images/Logos/salida.png" alt="Inicio" class="imagen-custom" width="50" height="50">
                                    <span style="font-size: 15px; font-family: Georgia, serif;">Salir</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <hr>
                <div class="dropdown pb-4">
                    <span class="d-none d-sm-inline mx-1"></span>
                </div>
            </div>
        </div>
        <div class="col py-3 d-flex justify-content-center align-items-center">
            <!-- Nuevo div para el contenido en el área blanca -->
            <div class="content-area">
                <img src="../../../assets/images/Logos/Logo menu.png" alt="Descripción de la imagen" style="max-width: 50%; height: auto;">
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
