<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/fondo.png'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- Asegúrate de que el componente de navegación está dentro de una columna -->
            <div class="col-auto">
                <app-navigation></app-navigation>
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <!-- Nuevo div para el contenido en el área blanca -->
                <div class="content-area">
                    <img src="../../../assets/images/Logos/Logo menu.png" alt="Descripción de la imagen" style="max-width: 50%; height: auto;">
                </div>
            </div>
        </div>
    </div>
    </div>