<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('../../../assets/images/2.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto">
                <app-navigation></app-navigation>
            </div>
            <div class="col py-2 d-flex flex-column">
                <div class="content-area">
                    <div class="imagen-custom mb-3">
                        <img src="../../../../assets/images/Logos/fi.png" alt="Ficha">
                    </div>
                    <hr>
                    <form #agregarFormPaciente="ngForm" *ngIf="paciente.length > 0">
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="primerNombre">Primer Nombre:</label>
                                        <input type="text" id="primerNombre" name="primerNombre" [(ngModel)]="paciente[0].primer_nombre" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="segundoNombre">Segundo Nombre:</label>
                                        <input type="text" id="segundoNombre" name="segundoNombre" [(ngModel)]="paciente[0].segundo_nombre" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="nit">NIT:</label>
                                        <input type="number" id="nit" name="nit" [(ngModel)]="paciente[0].NIT" required class="form-control">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="primerapellido">Primer Apellido:</label>
                                        <input type="text" id="primerapellido" name="primerapellido" [(ngModel)]="paciente[0].primer_apellido" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="segundoapellido">Segundo Apellido:</label>
                                        <input type="text" id="segundoapellido" name="segundoapellido" [(ngModel)]="paciente[0].segundo_apellido" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="dpi">DPI:</label>
                                        <input type="number" id="dpi" name="dpi" [(ngModel)]="paciente[0].DPI" required class="form-control">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="telefono">Teléfono:</label>
                                        <input type="number" id="telefono" name="telefono" [(ngModel)]="paciente[0].telefono" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="correo">Correo:</label>
                                        <input type="email" id="correo" name="correo" [(ngModel)]="paciente[0].correo_electronico" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="ocupacion">Ocupación:</label>
                                        <select id="ocupacion" name="ocupacion" [(ngModel)]="paciente[0].id_ocupacion" required class="form-control">
                                            <option *ngFor="let ocupacion of ocupacion" [value]="ocupacion.id_ocupacion">{{ ocupacion.nombre }}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="tipoSangre">Tipo de Sangre:</label>
                                        <select id="tipoSangre" name="tipoSangre" [(ngModel)]="paciente[0].id_tipo_sangre" required class="form-control">
                                            <option *ngFor="let sangre of tipoSangre" [value]="sangre.id_tipo_sangre">{{ sangre.nombre }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="estadoCivil">Estado Civil:</label>
                                        <select id="estadoCivil" name="estadoCivil" [(ngModel)]="paciente[0].id_estado_civil" required class="form-control">
                                            <option *ngFor="let estado of estadoCivil" [value]="estado.id_estado_civil">{{ estado.nombre }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="genero">Género:</label>
                                        <select id="genero" name="genero" [(ngModel)]="paciente[0].genero_idgenero" required class="form-control">
                                            <option *ngFor="let gen of genero" [value]="gen.idgenero">{{ gen.genero }}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="aseguradora">Aseguradora:</label>
                                        <select id="aseguradora" name="aseguradora" [(ngModel)]="paciente[0].aseguradora_id_aseguradora" required class="form-control">
                                            <option *ngFor="let aseg of aseguradora" [value]="aseg.id_aseguradora">{{ aseg.nombre }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="fechanacimiento">Fecha de Nacimiento:</label>
                                        <input type="date" id="fechanacimiento" name="fechanacimiento" [(ngModel)]="paciente[0].fecha_nacimiento" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="observaciones">Observaciones:</label>
                                        <input type="text" id="observaciones" name="observaciones" [(ngModel)]="paciente[0].observaciones" required class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="imagen-custom mb-3">
                            <img src="../../../../assets/images/Logos/dire.png" alt="Direccion">
                        </div>
                        <hr>
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="municipio">Municipio:</label>
                                        <select id="municipio" name="municipio" [(ngModel)]="direccion[0].id_municipio" required class="form-control">
                                            <option *ngFor="let aseg of municipio" [value]="aseg.id_municipio">{{ aseg.nombre }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="avenida">Avenida:</label>
                                        <input type="text" id="avenida" name="avenida" [(ngModel)]="direccion[0].avenida" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="zonacalle">Zona/Barrio:</label>
                                        <input type="text" id="zonacalle" name="zonacalle" [(ngModel)]="direccion[0].zona_barrio" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="calle">No. Calle:</label>
                                        <input type="text" id="calle" name="calle" [(ngModel)]="direccion[0].numero_vivienda" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="residencial_colonia">Residencial/Colonia:</label>
                                        <input type="text" id="residencial_colonia" name="residencial_colonia" [(ngModel)]="direccion[0].residencial_colonia" required class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="indicacion_extra">Indicaciones Extra:</label>
                                        <input type="text" id="indicacion_extra" name="indicacion_extra" [(ngModel)]="direccion[0].indicacion_extra" required class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="content-area" style="max-height: 400px; overflow-y: auto;">
                            <div class="imagen-custom mb-3">
                                <img src="../../../../assets/images/Logos/cont.png" alt="Contacto">
                            </div>
                            <hr>
                            <table class="table table-borderless">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="primerNombreContacto">Primer Nombre:</label>
                                            <input type="text" id="primerNombreContacto" name="primerNombre" [(ngModel)]="contactoEmergencia[0].primer_nombre" required class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="segundoNombreContacto">Segundo Nombre:</label>
                                            <input type="text" id="segundoNombreContacto" name="segundoNombre" [(ngModel)]="contactoEmergencia[0].segundo_nombre" required class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="primerapellidoContacto">Primer Apellido:</label>
                                            <input type="text" id="primerapellidoContacto" name="primerapellido" [(ngModel)]="contactoEmergencia[0].primer_apellido" required class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="segundoapellidoContacto">Segundo Apellido:</label>
                                            <input type="text" id="segundoapellidoContacto" name="segundoapellido" [(ngModel)]="contactoEmergencia[0].segundo_apellido" required class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="generoContacto">Género:</label>
                                            <select id="generoContacto" name="genero" [(ngModel)]="contactoEmergencia[0].id_genero" required class="form-control">
                                                <option *ngFor="let gen of genero" [value]="gen.idgenero">{{ gen.genero }}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="telefonoContacto">Teléfono:</label>
                                            <input type="number" id="telefonoContacto" name="telefono" [(ngModel)]="contactoEmergencia[0].telefono" required class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label for="relacion">Relación:</label>
                                            <select id="relacion" name="relacion" [(ngModel)]="contactoEmergencia[0].id_relacion_paciente" required class="form-control">
                                                <option *ngFor="let relacion of relacionPaciente" [value]="relacion.id_relacion_paciente">{{ relacion.relacion }}</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <a routerLink="/paciente">
                    <img src="../../../assets/images/Logos/reg.png" alt="menu" style="position: absolute; bottom: 10px; left: 200px; width: 50px; height: auto; object-fit: cover;">
                </a>
            </div>
        </div>
    </div>
</div>

